<a href="/">Home</a>
<h1>Sign up</h1>
<form action="/auth/signup" method="post">
    <label>Username:
        <input name="username" required
            value="<% if (typeof errorMessage !== 'undefined') { %><%= userName %><% } %>" />
    </label>


    <label>Password: <input type="password" name="password" required /></label>
    <button type="submit">SignUp</button>
</form>

<% if (typeof errorMessage !=='undefined' ) { %>
    <p style="color: red">
        <%= errorMessage %>
    </p>
    <% } %>