<a href="/">Back to home</a>
<a href="/auth/userProfile">Back to profile</a>
<br>
<h1>Private</h1>

<img src="https://i0.wp.com/www.galvanizeaction.org/wp-content/uploads/2022/06/Wow-gif.gif?fit=450%2C250&ssl=1"
    alt="Galvanize Action" style="width:400px;">